// less import files
@import "../LessImports/reset.less";
@import "../LessImports/variables.less";
@import "../LessImports/header.less";
@import "../LessImports/first.less";
@import "../LessImports/second.less";
@import "../LessImports/third.less";
@import "../LessImports/footer.less";

//colors
@green: #07FE20;
@gray: #828080;
@mine: #2F2D2D;
@cod: #1F1E1E;


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    font-size: 62.5%;
}

body{
    background-color: @cod;
    h2{
        font-size: 1.4rem;
        color: @green;
    }
    .startBanner{
        background-color: @green;
        // padding: 1%;
        color: @cod;
        margin: 2%;
        width: 50%;
        font-size: 2rem;
        letter-spacing: .1em;
        text-align: center;
    
    }
}