html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* css for landing page/Headers/Footers */

header {
  color: white;
  background-image: url("/assets/stefan-vladimirov-Q_Moi2xjieU-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* margin-right: 5%; */
  font-size: 2rem;
}
header nav a {
  display: flex;
  justify-content: space-evenly;
  padding: 1% 2% 0 2%;
  color: white;
  font-size:2rem;
  /* width: 25%; */
}
header nav a span {
  color: #07FE20;
}
header nav #logo {
  /* margin-right: auto; */
  padding-left: 7%;
}
header nav #logo span {
  color: #07FE20;
}
header div {
  width: 100%;
  text-align: center;
  color: #07FE20;
}
header #part2{
display: flex;
justify-content: flex-end;
width: 50%;
}
header div h1 {
  font-size: 4rem;
  padding: 7%;
}
header div span {
  color: white;
}
header .start {
  background-color: #07FE20;
  padding: 0.5% 3% 0.5% 3%;
  color: #1F1E1E;
  font-size: 1.5rem;
  border-radius: 5%;
  margin: 1%;
  width: 100%;
}
 header #mantra {
  display: flex;
  justify-content: space-between;
  padding: 4% 0 4% 0;
  font-size: 3rem;
  opacity: 0.6;
  width: 100%;
}
@media (max-width: 500px) {
  header {
    background-size: contain;
    justify-content: space-between;
    align-items: center;
    /* height: 60%; */
  }
  header nav {
    width: 100%;
    font-size: 1.5rem;
    justify-content: start;
    flex-direction: column;
    align-items: center;
  }
  header nav #part2{
    width: 100%;
    align-items: center;
  }
  header nav #logo{
    padding: 0;
  }
  header nav a {
    flex: 1;
    /* justify-content: unset; */
    text-align: center;
  }
  header div h1 {
    font-size: 2.5rem;
  }
  header .start {
    display: none;
  }
  header #mantra {
    display: none;
  }
}
#first {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30%;
  align-items: center;
}
#first mark {
  background-color: #2F2D2D;
  padding: 0 9% 0 9%;
  margin: 5% 0 5% 0;
}
#first h2 {
  font-size: 2.5rem;
}
#first div {
  display: flex;
  justify-content: center;
  width: 90%;
}
#first div img {
  object-fit: fill;
  width: 30%;
  height: auto;
}
@media (max-width: 500px) {
  #first mark {
    text-align: center;
    margin-top:0;
  }
  #first div {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  #first div img {
    display: none;
    width: 100%;
  }
  #first div img:first-child {
    display: block;
  }
}
#second {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 30%;
  align-items: center;
}
#second mark {
  background-color: #2F2D2D;
  width: 95%;
  padding: 2% 9% 2% 9%;
  margin: 3% 0 3% 0;
  text-align: center;
  font-size: 2.5rem;
}
#second .mantra2 {
  width: 30%;
  align-self: flex-start;
  margin: 5% 0% 2% 5%;
}
#second h2 {
  color: #07FE20;
  font-size: 2.5rem;
  padding: 0.5%;
}
#second h4 {
  color: white;
  font-size: 2.5rem;
  padding: 2%;
}
#second span {
  color: green;
}
#second .img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#second .img img {
  width: 35em;
  height: 35em;
  vertical-align: middle;
  padding: 2%;
}
@media (max-width: 500px) {
  #second .img {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #second .img img {
    display: none;
  }
  #second .img img:first-child {
    display: block;
    width: 20rem;
    height: 20rem;
    vertical-align: middle;
    padding: 2%;
  }
  #second .mantra2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    margin: 0;
  }
}
#third {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 30%;
  align-items: center;
}
#third .set1 {
  display: flex;
  width: 75%;
  height: 30%;
}
#third .set1 img {
  flex: 1;
  width: 25%;
}
#third .set2 {
  display: flex;
  justify-content: center;
  width: 75%;
  height: 75%;
  margin-bottom: 2%;
}
#third .set2 img {
  flex: 1;
  width: 25%;
  height: auto;
}
@media (max-width: 500px) {
  #third .set1 {
    display: none;
  }
  #third .set2 {
    display: none;
  }
}
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 20%;
  align-items: center;
  background-color: #2F2D2D;
  justify-content: space-between;
}
footer h5 {
  padding-top: 5%;
  padding-bottom: 2%;
  font-size: 3rem;
  color: #07FE20;
}
footer h5 span {
  color: white;
}
footer nav {
  display: flex;
  justify-content: space-between;
  width: 15%;
  color: white;
}
footer nav .log {
  color: #07FE20;
}
footer .rightsReserved {
  color: white;
  opacity: 0.3;
  padding-bottom: 2%;
}
footer .social {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1%;
  font-size: 2rem;
  width: 15%;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
@media (max-width: 500px) {
  footer h5 {
    font-size: 2rem;
  }
  footer nav {
    padding: 2%;
    width: 80%;
  }
  footer nav a{
    width: 25%;
  }
  footer .social {
    width: 80%;
    padding: 2%;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
  font-size: 62.5%;
}
body {
  background-color: #1F1E1E;
  width: 100%;
}
body h2 {
  font-size: 1.4rem;
  color: #07FE20;
}
body a {
  color: inherit;
  text-decoration: none;
}
body .startBanner {
  background-color: #07FE20;
  color: #1F1E1E;
  margin: 4%;
  width: 50%;
  font-size: 2rem;
  letter-spacing: 0.1em;
  text-align: center;
}


/* css for about page */
.team{
  width: 100%;
  /* height: 100%; */
  display:flex;
  flex-direction: column;
}
.team h2{
  background-color: #2F2D2D;
  color: #07FE20;
  width:80%;
  height: 10%;
  font-size: 3rem;
  text-align: center;
  margin: 3% 10% 3% 10%;
}
#gallery1{
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
} 
#gallery2{
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}


.members{
  /* background-color: #2F2D2D; */
  margin: 0;
  width: 25%;
  /* height: 50%; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2%;
  text-align: center;
  /* justify-content: space-between; */
  /* border-radius: 15%; */
  align-items: center;
  justify-content: space-between;
  
}
.members h3{
  align-self: center;
  display: flex;
  align-items: center;
  /* background-color: #07FE20; */
  color: #07FE20;
  font-size: 3rem;
  /* padding: 1%; */
  /* margin: 3%; */
  height: 10%;
  /* text-align: center; */

}

.members p{
  color: white;
  font-size: 1.2rem;
  text-align: center;
  /* border-radius: 15%; */
  padding: 3%;
}
.members img{
  /* flex: 1; */
  /* display: block; */
  width: 20em;
  height: 20em;
  border-radius: 50%;
}
